.alert {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.alert__text {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}

.alert__image {
    width: 512px;
    height: 512px;
}