.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    gap: 0.25rem;
    container-name: alert;
    container-type: inline-size;
}

.alert__text {
  font-weight: bolder;
  font-size: 5vh;
  text-align: center;
}

.alert__image {
  height: 70%;
}