#toast-notifications {
    position: fixed;
    top: 1%;
    right: 1%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toast {
  background-color: var(--fg-lighter);
  animation: toast-anim 5s forwards;
  width: 350px;
  height: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.toast:hover {
    cursor: pointer;
    background-color: var(--fg-light);
}

.toast__title {
    font-size: smaller;
}

.toast::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    animation: progress-bar 5s linear forwards;
    background-color: black;
}

.toast:hover, .toast:hover::after {
    animation-play-state: paused;
}

@keyframes toast-anim {
  0% { opacity: 0; }
  10% { opacity: 1; }
  95% { opacity: 1; }
  100% {opacity: 0;}
}

@keyframes progress-bar {
    0% {width: 100%;}
    95% {width: 0%;}
}