:root {
    --bg-dark: hsl(0 0% 10%);
    --bg: hsl(0 0% 15%);
    --bg-light: hsl(0 0% 20%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --primary: hsl(240 50% 100%);
    --secondary: hsl(240 50% 50%)
}

@media (prefers-color-scheme: light) {
    /*
    :root {
        --bg-dark: hsl(0 0% 90%);
        --bg: hsl(0 0% 95%);
        --bg-light: hsl(0 0% 100%);
        --text: hsl(0 0% 5%);
        --text-muted: hsl(0 0% 30%);
    }
    */
}

body {
    background: var(--bg-dark);
    color: var(--text-muted);
    display: flex;
    margin: 0;
}

input {
    padding: 0.1rem;
}

button {
    padding: 0.25rem 0.5em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* ID Styling */

#generate-url-button {
    bottom: 0.1rem;
    position: sticky;
}

#test-connection-button {
    grid-column: 2 / -1;
}

/* Class Styling */

.config-panel {
    width: 40%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--bg);
    height: 100vh;
    overflow-y: scroll;
}

.preview-panel {
    width: 60%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}

.settings-box {
    background-color: var(--bg);
    border: 2px solid #bbb;
    padding: 1em;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
    gap: 1em 1.5em;
}

.settings-box h2 {
    grid-column: 1 / -1;
    margin: 0 0 0.5em 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text);
}

.settings-box label {
    justify-self: end;
    font-weight: 600;
    color: var(--text-muted);
}

.settings-box input,
.settings-box select {
    background-color: var(--bg-light);
    color: var(--text-muted);
    padding: 0.25em 0.5em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Tabs */

.tab-group {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

.tab {
    display: inline-flex;
    padding: 0.25em 0.5em;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid white;
}

.tab.active {
    background: #666;
    border-color: #888;
}

.tab:hover {
    background-color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display:grid;
}

/* Tags */

.tag-container {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.tag-list {
    display: flex;
    min-height: 2em;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.25em;
}

.tag {
    background: #ccc;
    padding: 0.25em 0.5em;
    border-radius: 6px;
    cursor: pointer;
}

.tag:hover {
    background: #aaa;
}
