@import '../style.css';
@import '../components/collapsible.css';
@import '../components/alert.css';
@import '../components/toast.css';
@import '../components/urlMigrationDialog.css';

/* HELPER */

.border-radius {
    border-radius: var(--border-radius);
}

/* UNIQUE ELEMENT STYLE */

.config-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem 1rem;
    align-items: center;
}

.config-grid > label {
    text-align: right;
}

.config-grid input, select {
    width: 100%;
    padding: 0.1rem 0.3rem;
    font-size: large;
}

/* PAGE STYLE */

label {
    color: var(--text-color-lighter);
}

main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
}

section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
}

section > fieldset {
    padding: 0.25rem;
    background-color: var(--fg);
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

section > fieldset > legend {
    font-weight: 800;
    font-size: x-large;
    color: var(--text-color-light);
    text-shadow: 2px 2px 1px var(--text-color-darker);
}

#config-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
  border-right: 2px solid var(--bg-light);
  overflow-y: auto;
  scrollbar-width: thin;
}

#preview-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    opacity: 1;
}

.alert__image {
  width: clamp(128px, 50%, 512px);
  height: auto;
  object-fit: contain;
}

.alert__text {
  font-size: clamp(1rem, 3vw, 3rem);
}

#alert-preview {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.3rem;
  background-color: var(--fg);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
}

#alert-preview__select {
    border-radius: var(--border-radius);
}

#alert-preview__play {
    display: flex;
    align-items: center;
    justify-content: center;
}

#alert-preview__stop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapsible-input {
    border-radius: var(--border-radius);
}

.url-parser {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.3rem;
  background-color: var(--fg);
  max-height: 2rem;
}

.url-parser__input {
    width: 100%;
    padding: 0 0.25rem;
}

.url-parser__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.url-parser__button img {
    height: 100%;
}


/* CSS COMPONENT */

.css-input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.css-input__input {
    resize: none;
    width: 100%;
    height: 35vh;
    background-color: var(--fg-lighter);
    border: none;
    padding: 0.2rem;
    border-radius: var(--border-radius);
    color: var(--text-color-darker);
    font-weight: bold;
}

.css-input__button-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}