@import '../style.css';
@import '../components/navbar.css';
@import '../components/footer.css';

body {
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section {
    display: flex;
    flex-direction: column;
    background-color: var(--fg);
    padding: 1rem;
    border-radius: 12px;
    gap: 1rem;
}

main section h2 {
    text-align: center;
    color: var(--text-color-darker);
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
    justify-content: space-evenly;
}

.media-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--fg-lighter);
    border-radius: 12px;
    padding: 1rem;
    gap: 0.5rem;
    color: var(--text-color-darker);
}

.media-card__name {
    text-align: center;
    word-wrap: break-word;
    font-weight: 700;
}

.media-card__image {
    flex: 3;
    display: flex;
    align-items: center;
    background-color: var(--fg-dark);
    border-radius: 12px;
    border: 3px solid var(--fg-light);
    padding: 0.5rem;
}

.media-card__image:has(a:hover) {
    background-color: var(--fg);
}

.media-card__image img {
    width: 100%;
}

.media-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-card__content a {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: smaller;
    width: fit-content;
}

.media-card__content a:hover {
    color: var(--highlight);
}