<header id="navbar">
  <div id="navbar__logo">
    <a href="/ArchipelagoOverlays/">
      <img src="/favicon.svg" alt="Site Logo" />
    </a>
  </div>
  <nav id="navbar__navigation">
    <a href="/ArchipelagoOverlays/">Home</a>
    <a href="/ArchipelagoOverlays/media">Media</a>
  </nav>
  <div id="navbar__socials">
    <a
      href="https://github.com/g4pls/ArchipelagoOverlays/"
      alt="ArchipelagoOverlays GitHub"
    >
      <img src="/assets/images/github_logo.svg" />
    </a>
  </div>
</header>
