<dialog id="url-migration-dialog">
    <h2>URL Migration</h2>
    <div id="url-migration-dialog__text">
        <p>URL out of date!</p>
        <p>Migrating from <span id="url-migration-dialog__text__url-version">1.0.0</span> => <span id="url-migration-dialog__text__parser-version">2.0.0</span></p>
        <p>Make sure to Backup the URL before migrating!</p>
    </div>

    <form method="dialog">
        <menu>
            <button value="accept">Accept Migration</button>
            <button value="denied">Deny Migration</button>
        </menu>
    </form>
</dialog>